body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #abe7da;
}

.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 3px solid #faaa5f;
    border-radius: 10px;
    background-color: #c7b1b1e7;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

.input-container {
    display: flex;
}

input[type="text"] {
    flex: 1;
    padding: 10px;
    margin-right: 10px;
    border: 2px solid #0c0a0a;
    border-radius: 5px;
}

button {
    padding: 10px;
    background-color: #5289bd;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #5cc7c2;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #c74242;
}

li:last-child {
    border-bottom: none;
}
